.root {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  pointer-events: none;
}
.root.state-open {
  pointer-events: all;
}

.appbar {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  pointer-events: all;
  background-color: var(--appbar-bg-color);
  transition: transform 300ms;
}
.appbar.state-hidden {
  transform: translateY(100%);
}
.appbar.state-peek {
  transform: translateY(-30px);
}
.appbar.state-icons {
  transform: translateY(-48px);
}
.appbar.state-open {
  transform: translateY(-100%);
}

.buttons {
  padding: 6px;
  display: flex;
  justify-content: center;
}

.buttons > .button {
  margin: 0 6px;
}
.root.state-peek .buttons > .button {
  visibility: hidden;
}

.placeholder {
  height: 36px;
  width: 36px;
}

.flex {
  flex: 1;
}

.list {
  padding: 0 12px 24px 12px;
}
