.root {
  background: none;
  outline: none;
  font-family: 'Open Sans', Helvetica, sans-serif;

  border: 3px solid var(--active-control-color);
  color: var(--active-control-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px 12px;
  margin: 6px 0;
  text-transform: lowercase;
}

.root:active {
  background-color: var(--active-control-color);
  color: var(--control-offset-text-color);
}
.root:disabled {
  border: 3px solid var(--disabled-control-color);
  color: var(--disabled-control-color);
}

.root.fullWidth {
  width: 100%;
}
