.root {
  background: none;
  outline: none;
  font-family: 'Open Sans', Helvetica, sans-serif;

  background-color: var(--resting-control-color);
  border: 3px solid var(--resting-control-color);
  color: var(--control-offset-text-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px;
  margin: 6px 0;
}

.root:focus {
  background-color: var(--active-control-color);
  border: 3px solid var(--app-accent-color);
}
.root:disabled {
  border: 3px solid var(--disabled-control-color);
  color: var(--disabled-control-color);
}

.root.fullWidth {
  width: 100%;
}
