.root {
  font-size: 28px;
  white-space: nowrap;
  padding: 6px 0 6px 0;
  font-weight: 400;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: transform 100ms;
}
.root:active {
  transform: rotateY(-10deg) skewY(-1deg);
}

.root > img {
  aspect-ratio: 1/1;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

.primaryText {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.secondaryText {
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.accentText {
  font-size: 16px;
  font-weight: 400;
  color: var(--accent-text-color);
}
