.root {
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.heroText {
  font-size: 120px;
  font-weight: 300;
  white-space: nowrap;
  padding: 0px 24px 0 12px;
}

.title {
  padding: 12px 12px 0 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.tabs {
  display: flex;
  padding: 6px 0 12px 0;
  white-space: nowrap;
}

.tabs > div {
  font-size: 40px;
  padding-right: 12px;
  color: var(--secondary-text-color);
}
.tabs > div:first-of-type {
  padding-left: 12px;
}
.tabs > div.active {
  color: var(--primary-text-color);
}

.panels {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex: 1;
}

.panels > div {
  width: 93vw;
  min-width: 93vw;
  padding-right: 36px;
  padding-left: 12px;
  scroll-snap-align: start;
  overflow-y: auto;
}
.panels > div:last-of-type {
  width: 100vw;
  min-width: 100vw;
  padding-right: 0;
}

.panels.fullWidth > div {
  width: 100vw;
  min-width: 100vw;
  padding-right: 0px;
}
