.root {
}

.root.fullWidth {
  width: 100%;
}

.label {
  color: var(--secondary-text-color);
  margin-bottom: 6px;
}

.container {
  border: 3px solid var(--active-control-color);
  color: var(--active-control-color);
  font-weight: 600;
  font-size: 16px;
  padding: 6px;
  overflow: hidden;

  transition: max-height 300ms;
}

.container.open {
  background-color: var(--active-control-color);
  color: var(--control-offset-text-color);
  border: 3px solid var(--app-accent-color);
}
.container.disabled {
  border: 3px solid var(--disabled-control-color);
  color: var(--disabled-control-color);
}

.container.open .options {
  transform: translateY(0px) !important;
}

.container .options {
  transition: transform 300ms;
  transform: translateY(-157px);
}
.container .options.noAnimate {
  transition: none;
}

.container .option {
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.container.open .option.selected {
  color: var(--accent-text-color);
}

.option .colorBox {
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

/* Full Picker */

.fullPicker {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--app-bg-color);
  z-index: 9;
}
.fullPicker.open {
  display: flex;
  flex-direction: column;
}

.fullPicker .title {
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.fullPicker .options {
  overflow-y: auto;
}

.fullPicker .option {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 12px;
}

.fullPicker .option.selected {
  color: var(--accent-text-color);
}
