.background {
  height: 100vh;
  background-size: cover;
  background-blend-mode: darken;
  background-color: var(--app-bg-image-cover-color);
  background-repeat: no-repeat;
  transition: background-color 300ms;
  transition-delay: 500ms;
}

.container {
  position: relative;
  perspective: 1000px;
  height: 100vh;
  backdrop-filter: blur(10px);
}

.page {
  position: absolute;
  left: 0px;
  right: 0px;
  transform-origin: left;
  transform-style: preserve-3d;
}

.page-forward-enter {
  transform: rotateY(150deg) skewY(10deg);
}

.page-forward-enter-active {
  transform: rotateY(0deg) skewY(0deg);
  transition: transform 500ms;
  transition-delay: 500ms;
}

.page-forward-exit {
  transform: rotateY(0deg) skewY(0deg);
}

.page-forward-exit-active {
  transform: rotateY(-90deg) skewY(-10deg);
  transition: transform 500ms;
}

.page-back-enter {
  opacity: 0;
}

.page-back-enter-active {
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 500ms;
}

.page-back-exit {
  transform: rotateY(0deg) skewY(0deg);
}

.page-back-exit-active {
  transform: rotateY(150deg) skewY(10deg);
  transition: transform 500ms;
}
