@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--app-bg-color);
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 12px;
}

body {
  font-size: 14px;
  overscroll-behavior-x: none;
}

body {
  --app-bg-color: #000;
  --app-bg-image-cover-color: rgba(0, 0, 0, 0.7);
  --app-accent-color: #1ba1e2;

  --primary-text-color: rgba(255, 255, 255, 1);
  --secondary-text-color: rgba(255, 255, 255, 0.5);
  --accent-text-color: var(--app-accent-color);

  --appbar-bg-color: #181818;

  --resting-control-color: #b0b0b0;
  --active-control-color: #fff;
  --disabled-control-color: #383838;
  --control-offset-text-color: #000;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none !important;
}
